@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Rubik", sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #ccc;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}
h4 {
  color: #00ed82;
  font-size: 12px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  min-width: 135px;
  padding: 20px 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-cta:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.btn-outline {
  background: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-bottom: 5px;
}
.btn-outline:hover {
  color: #fff;
  border-color: #ccc;
}
.btn-dark {
  background: #000;
  color: #fff;
}

.legal-text {
  font-size: 10px;
  color: #ccc;
  margin-top: 20px;
}
.sub-link {
  display: block;
  color: #ccc;
  font-size: 12px;
  margin-top: 5px;
  text-decoration: underline;
}
.text-xl {
  font-size: 70px;
  font-weight: bold;
}
.sub-text {
  max-width: 850px;
  margin-bottom: 10px;
  font-size: 24px;
}
.sub-header > div:last-of-type {
  justify-self: end;
  align-self: end;
}
.sub-header > div:last-of-type .sub-link {
  text-align: center;
}

/* Header */
.header {
  background: url(../pictures/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 60px;
}
.header .logo {
  width: 270px;
  margin: 20px 0;
}
.header nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
}
.header nav .login-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.header .header-text-1 {
  font-size: 22px;
  font-weight: bold;
}
.header .header-text-2 {
  font-size: 18px;
  margin: 15px 0;
}

/* Sub-header */
.sub-header {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 40px;
  align-items: center;
  padding: 30px 40px;
  background: linear-gradient(
    318.68deg,
    #0f495c 0%,
    #0d3640 49.72%,
    #08141f 100%
  );
}

/* categories */
.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 90px 40px;
}
.categories .covers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  gap: 20px;
}

.categories .covers > div {
  height: 350px;
  width: 200px;
  position: relative;
}
.categories .cover-overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.cover-1 {
  background: url(../pictures/cover-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-2 {
  background: url(../pictures/cover-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-3 {
  background: url(../pictures/cover-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover-4 {
  background: url(../pictures/cover-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.categories .cover-text {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
}

/* Live */
.live {
  background: #151516;
  padding: 40px;
}
.live-border {
  border: 4px solid #1ce783;
  border-radius: 16px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.live a {
  margin-top: 20px;
  text-decoration: underline;
  font-size: 18px;
}

/* Live Sports Section */

.live-sports {
  background: url("../pictures/live-sports.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;
  position: relative;
}
.live-sports-content {
  position: absolute;
  top: 160px;
  left: 100px;
  max-width: 500px;
}

.live-sports-logos {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live-sports-logos > div {
  background: url("../pictures/network-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-sports-logos img {
  width: 40px;
}

/* Footer */

.footer {
  background: #ebedf2;
  color: #333;
}
.footer ul li a {
  color: #000;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}
.footer-lists {
  display: flex;
  justify-content: space-between;
}
.list-head {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.divider {
  width: 100%;
  height: 4px;
  border-top: 1px solid #ccc;
  margin: 30px 0;
}

.social-icons img {
  width: 25px;
  height: 25px;
  margin-right: 25px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: -85px;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-box {
  margin: 10% auto;
  width: 400px;
  background: #fff;
  color: #000;
  position: relative;
  animation: modalopen 1s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-body {
  padding: 50px;
}
.modal-body h3 {
  font-weight: bold;
}
.modal-body .btn {
  width: 100%;
  margin-top: 30px;
}
.modal .close {
  cursor: pointer;
  position: absolute;
  height: 23px;
  width: 23px;
  top: 20px;
  right: 20px;
}

.modal .modal-footer {
  background: #f7f7f9;
  color: #333;
  padding: 20px;
  border-top: #eee 1px solid;
  text-align: center;
}
.modal .modal-footer a {
  color: steelblue;
}

/* Form */
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
  text-transform: uppercase;
}
.form-control input {
  width: 100%;
  height: 50px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
/* Media Queries */
@media (max-width: 1000px) {
  .categories .covers {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

@media (max-width: 770px) {
  .header .logo {
    width: 200px;
  }
  .header .header-content {
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
  }

  .header .header-text-1 {
    margin-bottom: 40px;
  }
  .header .header-text-2 {
    display: none;
  }
  .sub-header {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }
  .sub-header img {
    width: 200px;
    margin: auto;
  }
  .sub-header > div:last-of-type {
    justify-self: center;
    align-self: center;
  }
  .text-xl {
    line-height: 1.3;
    font-size: 40px;
    margin-top: 20px;
  }
  .sub-text {
    font-size: 20px;
  }
  .categories .covers {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .live-border {
    padding: 30px 10px;
  }

  .live-sports {
    background: url("../pictures/live-sports-small.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .live-sports-content {
    top: 50px;
    left: 40px;
    margin-top: 60px;
    max-width: 400px;
  }
  .sport-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-lists {
    flex-direction: column;
  }
  .divider {
    margin: 20px 0;
  }
  .list-head {
    margin-top: 15px;
  }

  .modal {
    top: 0;
  }
  .modal .modal-box {
    width: 350px;
  }
}
